// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

// mixins
@mixin bp($name) {
  @if $name == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $name == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $name == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $name == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

// common
.only-sm {
  display: none;
  @include bp(sm) {
    display: block;
  }
}
a,
button {
  cursor: pointer;
  transition: opacity 0.3s;
  border: none;
  background: transparent;
  color: white;
  padding: 1.5rem;
  border: none;
  background: transparent;
  &:hover {
    opacity: 0.7;
  }
}

.copyright {
  display: block;
  color: white;
  width: 100%;
  background-color: #339a89;
  text-align: center;
  position: fixed;
  bottom: 0;

  &__link {
    color: inherit;
    display: inline-block;
    padding: 1rem 0;
  }
}

// main
html {
  overflow: hidden;
  font-family: "Courier Prime", monospace;

  color: white;
  font-size: 100%;
  min-width: 320px;
  text-transform: lowercase;
  @include bp(md) {
    font-size: 80%;
  }
  @include bp(sm) {
    font-size: 62.5%;
  }
}

.bg {
  height: 100vh;
  // background-image: url(../assets/img/bg.jpg);
  // background-image: url(../assets/video/bg.mp4);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  // padding-top: 5rem;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
  }
  &-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    z-index: -1;
    @include bp(sm) {
    }
  }
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;

  .title {
    font-size: 5rem;
    text-transform: uppercase;
    @include bp(sm) {
      font-size: 4rem;
    }
  }

  .custom {
    font-size: 1.5rem;
    &_txt {
      font-weight: 100;
      font-size: 2.4rem;
      // @include bp(md) {
      //   font-size: 2rem;
      // }
    }
    &_wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-top: 1.5vw;
      flex-direction: column;

      @include bp(sm) {
        gap: 0;
        margin-top: 1rem;
      }
    }

    &_length {
      display: inline-block;
      padding: 1rem;
      font-size: 2rem;
      min-width: 4.6rem;
      @include bp(sm) {
        padding: 0.4rem;
        min-width: 3.4rem;
      }
    }
    &_btn {
      font-size: 2rem;
      @include bp(sm) {
        font-size: 1.5rem;
      }
    }
  }

  .display {
    padding: 2rem;
    border: solid 1px white;

    margin: 1vw auto;

    border-radius: 10px;
    // @include bp(md) {
    //   padding: 1.5rem;
    // }
    @include bp(sm) {
      margin: 0 auto;
    }
    &_txt {
      font-size: 2.4rem;
      // @include bp(md) {
      //   font-size: 2rem;
      // }
    }
    &_timer {
      font-size: 10rem;
      @include bp(sm) {
        font-size: 8rem;
      }
    }
  }

  .control {
    margin-bottom: 0.7vw;
    &_reset {
      margin-left: 4rem;
      @include bp(sm) {
        margin-left: 2rem;
      }
    }
    &_btn {
      font-size: 2rem;
    }
  }
  // &-player {
  //   @include bp(lg) {
  //     // height: 100px;
  //   }
  // }
}
